h1{
    color: blue;
    padding: 1em;
    }
    
    p{
        padding: 1em;
         height: 6em;
         width: 40em;
         text-align: center;
         border: 1em;

         background-color: yellow;
    }